### Import Dependencies

In [3]:
 from sklearn import tree
import pandas as pd
import os

### Read in Data

In [30]:
df = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Cleaned_Data/TVP_Happiness_Survey.csv", low_memory=False)
df.head()

,Sample,Access to Employment,Access to Public Transport,Culture,Road Congestion,Schools,Shopping,Open Space,Tree Cover,Topographic Variation,Cafes and Restaurants,Crime,Telecommunications,Views,Beach Access,Happiness
0,1,53,78,83,81,63,81,83,58,78,88,60,78,88,67,Happy
1,2,52,48,47,55,53,34,40,37,59,59,59,30,31,58,Not Happy
2,3,84,72,74,93,84,76,86,79,92,81,98,54,67,100,Happy
3,4,36,40,35,47,56,39,54,37,38,46,55,54,57,42,Not Happy
4,5,61,83,89,90,67,70,60,65,52,81,58,50,94,76,Happy

In [5]:
target = df["Happiness"]
target_names = ["Happy", "Not Happy"]

In [6]:
data = df.drop("Happiness", axis=1)
data = data.drop("Sample", axis=1)
feature_names = data.columns
data.head()

,Access to Employment,Access to Public Transport,Culture,Road Congestion,Schools,Shopping,Open Space,Tree Cover,Topographic Variation,Cafes and Restaurants,Crime,Telecommunications,Views,Beach Access
0,53,78,83,81,63,81,83,58,78,88,60,78,88,67
1,52,48,47,55,53,34,40,37,59,59,59,30,31,58
2,84,72,74,93,84,76,86,79,92,81,98,54,67,100
3,36,40,35,47,56,39,54,37,38,46,55,54,57,42
4,61,83,89,90,67,70,60,65,52,81,58,50,94,76

In [7]:
 from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [8]:
 clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

1.0

In [15]:
 from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=50)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

1.0

In [16]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.3278297847727626, 'Cafes and Restaurants'),
 (0.222228036300938, 'Culture'),
 (0.1080094311808243, 'Shopping'),
 (0.10008351113207757, 'Open Space'),
 (0.07799611400525737, 'Tree Cover'),
 (0.07739396663994742, 'Road Congestion'),
 (0.03143832112961773, 'Access to Public Transport'),
 (0.02596942369445981, 'Topographic Variation'),
 (0.014295665701102097, 'Crime'),
 (0.006319536767646786, 'Beach Access'),
 (0.006107776448914284, 'Telecommunications'),
 (0.0012760805823261695, 'Access to Employment'),
 (0.0010523516441260006, 'Views'),
 (0.0, 'Schools')]