In [1]:
import pandas as pd
import json
file = "Cleaned_Data/ABS_TVP_Cleaned.csv"
datadf = pd.read_csv(file, encoding="ISO-8859-1")

In [2]:
datadf

,Code Prefix,Code,Category,Variant,Sex,Age,2006,2011,2016
0,T01,T01,Age & Sex,NaN,Males,All ages,13725,16307,17429
1,T01,T01,Age & Sex,NaN,Females,All ages,14229,16127,17562
2,T01,T01,Age & Sex,NaN,Persons,All ages,27959,32433,34990
3,T01,T01,Age & Sex,NaN,Males,0,165,192,226
4,T01,T01,Age & Sex,NaN,Females,0,173,221,234
...,...,...,...,...,...,...,...,...,...
43519,T25,T25-Total,Monthly Mortgage Repayment,"$2,600-$2,999",NaN,NaN,101,389,393
43520,T25,T25-Total,Monthly Mortgage Repayment,"$3,000-$3,999",NaN,NaN,102,616,567
43521,T25,T25-Total,Monthly Mortgage Repayment,"$4,000-$4,999",NaN,NaN,28,206,203
43522,T25,T25-Total,Monthly Mortgage Repayment,"$5,000 and over",NaN,NaN,23,134,114
43523,T25,T25-Total,Monthly Mortgage Repayment,Not stated,NaN,NaN,212,136,118

In [3]:
with open('data.json', 'w') as f:
    f.write(datadf.to_json(orient='records', lines=True))