# **Dictionary of Databases**


---


* ABS_T01_TVP = Age and Sex of TVP Residents 
* ABS_T02_TVP = (Legal) Marital Status of TVP Residents 
* ABS_T03_TVP = (Defacto) Marital Status of TVP Residents E.g. Same Sex
* ABS_T04_TVP = Indigenous Status of TVP Residents
* ABS_T08_TVP = English Speaking information of TVP Residents
* ABS_T12_TVP = Highest School Year education of TVP Residents
* ABS_T15_TVP = Volunteer Status of TVP Residents
* ABS_T20_TVP = Family Status of TVP Residents
* ABS_T23_TVP = Household Numbers of TVP Residents
* ABS_T24_TVP = Dwelling Type of TVP Residents
* ABS_T25_TVP = Mortgage Amount of TVP Residents
* ABS_T26_TVP = Rent Amount of TVP Residents
* ABS_T27_TVP = Internet Status of TVP Residents
* ABS_T28_TVP = Number of Bedrooms of TVP Residents
* ABS_T29_TVP = Labour Force, Education and Migration of TVP Residents
* ABS_T32_TVP = Field of Study of TVP Residents
* ABS_T33_TVP = Labour Status of TVP Residents
* ABS_T34_TVP = Occupational Industry of TVP Residents
* ABS_T35_TVP = Occupational Type of TVP Residents


---

**Dependancies**

In [1]:
import pandas as pd

**Cleaning Data**

Importing Data from GitHub

In [8]:
ABS_T01_AgeSex = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T01_TS_LGA.csv", low_memory=False) 
ABS_T02_MaritalStatus = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T02_TS_LGA.csv", low_memory=False)
ABS_T03_SocialMartialStatus = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T03_TS_LGA.csv", low_memory=False)
ABS_T04_Indigenous = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T04_TS_LGA.csv", low_memory=False)
ABS_T08_EnglishSpeaking = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T08_TS_LGA.csv", low_memory=False)
ABS_T12_SchoolYear = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T12_TS_LGA.csv", low_memory=False)
ABS_T15_Volunteer = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T15_TS_LGA.csv", low_memory=False)
ABS_T20_Family = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T20_TS_LGA.csv", low_memory=False)
ABS_T23_HouseholdNumbers = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T23_TS_LGA.csv", low_memory=False)
ABS_T24_Dwelling = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T24_TS_LGA.csv", low_memory=False)
ABS_T25_Mortgage = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T25_TS_LGA.csv", low_memory=False)
ABS_T26_Rent = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T26_TS_LGA.csv", low_memory=False)
ABS_T27_Internet = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T27_TS_LGA.csv", low_memory=False)
ABS_T28_Bedrooms = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T28_TS_LGA.csv", low_memory=False)
ABS_T29_LFEduMig = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T29_TS_LGA.csv", low_memory=False)
ABS_T32_FieldofStudy = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T32_TS_LGA.csv", low_memory=False)
ABS_T33_LabourStatus = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T33_TS_LGA.csv", low_memory=False)
ABS_T34_Industry = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T34_TS_LGA.csv", low_memory=False)
ABS_T35_OccupationType = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T35_TS_LGA.csv", low_memory=False)

List Columns to Check Data to Drop

In [ ]:
print(list(ABS_T01_AgeSex.columns))
print(list(ABS_T02_MaritalStatus.columns))
print(list(ABS_T03_SocialMartialStatus.columns))
print(list(ABS_T04_Indigenous.columns))
print(list(ABS_T08_EnglishSpeaking.columns))
print(list(ABS_T12_SchoolYear.columns))
print(list(ABS_T15_Volunteer.columns))
print(list(ABS_T20_Family.columns))
print(list(ABS_T23_HouseholdNumbers.columns))
print(list(ABS_T24_Dwelling.columns))
print(list(ABS_T25_Mortgage.columns))
print(list(ABS_T26_Rent.columns))
print(list(ABS_T27_Internet.columns))
print(list(ABS_T28_Bedrooms.columns))
print(list(ABS_T29_LFEduMig.columns))
print(list(ABS_T32_FieldofStudy.columns))
print(list(ABS_T33_LabourStatus.columns))
print(list(ABS_T34_Industry.columns))
print(list(ABS_T35_OccupationType.columns))

Drop everything not related To the Town of Victoria Park

In [76]:
ABS_T01_AgeSex_TVP = ABS_T01_AgeSex[ABS_T01_AgeSex.Region == 'Victoria Park (T)']
ABS_T02_MaritalStatus_TVP = ABS_T02_MaritalStatus[ABS_T02_MaritalStatus.Region == 'Victoria Park (T)']
ABS_T03_SocialMartialStatus_TVP = ABS_T03_SocialMartialStatus[ABS_T03_SocialMartialStatus.Region == 'Victoria Park (T)']
ABS_T04_Indigenous_TVP = ABS_T04_Indigenous[ABS_T04_Indigenous.Region == 'Victoria Park (T)']
ABS_T08_EnglishSpeaking_TVP = ABS_T08_EnglishSpeaking[ABS_T08_EnglishSpeaking.Region == 'Victoria Park (T)']
ABS_T12_SchoolYear_TVP = ABS_T12_SchoolYear[ABS_T12_SchoolYear.Region == 'Victoria Park (T)']
ABS_T15_Volunteer_TVP = ABS_T15_Volunteer[ABS_T15_Volunteer.Region == 'Victoria Park (T)']
ABS_T20_Family_TVP = ABS_T20_Family[ABS_T20_Family.Region == 'Victoria Park (T)']
ABS_T23_HouseholdNumbers_TVP = ABS_T23_HouseholdNumbers[ABS_T23_HouseholdNumbers.Region == 'Victoria Park (T)']
ABS_T24_Dwelling_TVP = ABS_T24_Dwelling[ABS_T24_Dwelling.Region == 'Victoria Park (T)']
ABS_T25_Mortgage_TVP = ABS_T25_Mortgage[ABS_T25_Mortgage.Region == 'Victoria Park (T)']
ABS_T26_Rent_TVP = ABS_T26_Rent[ABS_T26_Rent.Region == 'Victoria Park (T)']
ABS_T27_Internet_TVP = ABS_T27_Internet[ABS_T27_Internet.Region == 'Victoria Park (T)']
ABS_T28_Bedrooms_TVP = ABS_T28_Bedrooms[ABS_T28_Bedrooms.Region == 'Victoria Park (T)']
ABS_T29_LFEduMig_TVP = ABS_T29_LFEduMig[ABS_T29_LFEduMig.Region == 'Victoria Park (T)']
ABS_T32_FieldofStudy_TVP = ABS_T32_FieldofStudy[ABS_T32_FieldofStudy.Region == 'Victoria Park (T)']
ABS_T33_LabourStatus_TVP = ABS_T33_LabourStatus[ABS_T33_LabourStatus.Region == 'Victoria Park (T)']
ABS_T34_Industry_TVP = ABS_T34_Industry[ABS_T34_Industry.Region == 'Victoria Park (T)']
ABS_T35_OccupationType_TVP = ABS_T35_OccupationType[ABS_T35_OccupationType.Region == 'Victoria Park (T)']

Drop unnecessary columns and Re index

In [93]:
ABS_T01_TVP = ABS_T01_AgeSex_TVP.filter(['SEX_ABS','Sex','Age','Year','Value'], axis=1)
ABS_T01_TVP = ABS_T01_TVP.reset_index(drop=True)

ABS_T02_TVP = ABS_T02_MaritalStatus_TVP.filter(['MSTP_2016','Registered marital status','Age','SEX_ABS','Sex','Year','Value'], axis=1)
ABS_T02_TVP = ABS_T02_TVP.reset_index(drop=True)

ABS_T03_TVP = ABS_T03_SocialMartialStatus_TVP.filter(['MDCP_2016','Social marital status','Age','SEX_ABS','Sex','Year','Value'], axis=1)
ABS_T03_TVP = ABS_T03_TVP.reset_index(drop=True)

ABS_T04_TVP = ABS_T04_Indigenous_TVP.filter(['INGP_2016','Indigenous status','Age','SEX_ABS','Sex','Year','Value'], axis=1)
ABS_T04_TVP = ABS_T04_TVP.reset_index(drop=True)

ABS_T08_EnglishSpeaking_TVP.rename(columns={ABS_T08_EnglishSpeaking_TVP.columns[1]: "English Speaking"}, inplace = True)
ABS_T08_TVP = ABS_T08_EnglishSpeaking_TVP.filter(['ENGLP_2016','English Speaking','Age','SEX_ABS','Sex','Year','Value'], axis=1)
ABS_T08_TVP = ABS_T08_TVP.reset_index(drop=True)

ABS_T12_TVP = ABS_T12_SchoolYear_TVP.filter(['HSCP_2016','Highest Year of School Completed','Age','SEX_ABS','Sex','Census year','Value'], axis=1)
ABS_T12_TVP.rename(columns={"Census year": "Year"}, inplace = True)
ABS_T12_TVP = ABS_T12_TVP.reset_index(drop=True)

ABS_T15_TVP = ABS_T15_Volunteer_TVP.filter(['VOLWP_2016','Voluntary Work for an Organisation or Group','Age','SEX_ABS','Sex','Census year','Value'], axis=1)
ABS_T15_TVP.rename(columns={"Census year": "Year"}, inplace = True)
ABS_T15_TVP = ABS_T15_TVP.reset_index(drop=True)

ABS_T12_TVP = ABS_T20_Family_TVP.filter(['FBLF_2016	','Family Blending','Census year','Value'], axis=1)
ABS_T12_TVP.rename(columns={"Census year": "Year"}, inplace = True)
ABS_T12_TVP = ABS_T12_TVP.reset_index(drop=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [92]:
ABS_T20_Family_TVP

      FBLF_2016  ... Flags
1443        TOT  ...   NaN
1444        TOT  ...   NaN
1445        TOT  ...   NaN
3105          1  ...   NaN
3106          1  ...   NaN
3107          1  ...   NaN
4767          2  ...   NaN
4768          2  ...   NaN
4769          2  ...   NaN
6429          3  ...   NaN
6430          3  ...   NaN
6431          3  ...   NaN
8091          4  ...   NaN
8092          4  ...   NaN
8093          4  ...   NaN
9753          5  ...   NaN
9754          5  ...   NaN
9755          5  ...   NaN
11415         6  ...   NaN
11416         6  ...   NaN
11417         6  ...   NaN
13077         7  ...   NaN
13078         7  ...   NaN
13079         7  ...   NaN

[24 rows x 13 columns]

In [94]:
ABS_T12_TVP

                                  Family Blending  Year  Value
0                                  Total Families  2006   2019
1                                  Total Families  2011   2688
2                                  Total Families  2016   3022
3    Intact family with no other children present  2006   1776
4    Intact family with no other children present  2011   2369
5    Intact family with no other children present  2016   2718
6      Step family with no other children present  2006    168
7      Step family with no other children present  2011    216
8      Step family with no other children present  2016    194
9   Blended family with no other children present  2006     49
10  Blended family with no other children present  2011     77
11  Blended family with no other children present  2016     80
12      Intact family with other children present  2006     12
13      Intact family with other children present  2011     21
14      Intact family with other children present  2016     20
15        Step family with other children present  2006      0
16        Step family with other children present  2011      3
17        Step family with other children present  2016      0
18     Blended family with other children present  2006      0
19     Blended family with other children present  2011      0
20     Blended family with other children present  2016      0
21   Other couple family with other children only  2006     15
22   Other couple family with other children only  2011     11
23   Other couple family with other children only  2016     14