# **Dictionary of Databases**


---


* ABS_T01_TVP = Age and Sex of TVP Residents 
* ABS_T02_TVP = (Legal) Marital Status of TVP Residents 
* ABS_T03_TVP = (Defacto) Marital Status of TVP Residents E.g. Same Sex
* ABS_T04_TVP = Indigenous Status of TVP Residents
* ABS_T08_TVP = English Speaking information of TVP Residents
* ABS_T12_TVP = Highest School Year education of TVP Residents
* ABS_T15_TVP = Volunteer Status of TVP Residents
* ABS_T20_TVP = Family Status of TVP Residents
* ABS_T23_TVP = Household Numbers of TVP Residents
* ABS_T24_TVP = Dwelling Type of TVP Residents
* ABS_T25_TVP = Mortgage Amount of TVP Residents
* ABS_T26_TVP = Rent Amount of TVP Residents
* ABS_T27_TVP = Internet Status of TVP Residents
* ABS_T28_TVP = Number of Bedrooms of TVP Residents
* ABS_T29_TVP = Labour Force, Education and Migration of TVP Residents
* ABS_T32_TVP = Field of Study of TVP Residents
* ABS_T33_TVP = Labour Status of TVP Residents
* ABS_T34_TVP = Occupational Industry of TVP Residents
* ABS_T35_TVP = Occupational Type of TVP Residents


---

**Dependancies**

In [1]:
import pandas as pd
import numpy as np

**Cleaning Data**

Importing Data from GitHub

In [2]:
ABS_T01_AgeSex = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T01_TS_LGA.csv", low_memory=False) 
ABS_T02_MaritalStatus = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T02_TS_LGA.csv", low_memory=False)
ABS_T03_SocialMartialStatus = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T03_TS_LGA.csv", low_memory=False)
ABS_T04_Indigenous = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T04_TS_LGA.csv", low_memory=False)
ABS_T08_EnglishSpeaking = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T08_TS_LGA.csv", low_memory=False)
ABS_T12_SchoolYear = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T12_TS_LGA.csv", low_memory=False)
ABS_T15_Volunteer = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T15_TS_LGA.csv", low_memory=False)
ABS_T20_Family = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T20_TS_LGA.csv", low_memory=False)
ABS_T23_HouseholdNumbers = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T23_TS_LGA.csv", low_memory=False)
ABS_T24_Dwelling = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T24_TS_LGA.csv", low_memory=False)
ABS_T25_Mortgage = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T25_TS_LGA.csv", low_memory=False)
ABS_T26_Rent = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T26_TS_LGA.csv", low_memory=False)
ABS_T27_Internet = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T27_TS_LGA.csv", low_memory=False)
ABS_T28_Bedrooms = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T28_TS_LGA.csv", low_memory=False)
ABS_T29_LFEduMig = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T29_TS_LGA.csv", low_memory=False)
ABS_T32_FieldofStudy = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T32_TS_LGA.csv", low_memory=False)
ABS_T33_LabourStatus = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T33_TS_LGA.csv", low_memory=False)
ABS_T34_Industry = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T34_TS_LGA.csv", low_memory=False)
ABS_T35_OccupationType = pd.read_csv("https://raw.githubusercontent.com/JDICKENSON91/Final-Project/main/Data/Raw_ABS/ABS_C16_T35_TS_LGA.csv", low_memory=False)

List Columns to Check Data to Drop

In [3]:
print(list(ABS_T01_AgeSex.columns))
print(list(ABS_T02_MaritalStatus.columns))
print(list(ABS_T03_SocialMartialStatus.columns))
print(list(ABS_T04_Indigenous.columns))
print(list(ABS_T08_EnglishSpeaking.columns))
print(list(ABS_T12_SchoolYear.columns))
print(list(ABS_T15_Volunteer.columns))
print(list(ABS_T20_Family.columns))
print(list(ABS_T23_HouseholdNumbers.columns))
print(list(ABS_T24_Dwelling.columns))
print(list(ABS_T25_Mortgage.columns))
print(list(ABS_T26_Rent.columns))
print(list(ABS_T27_Internet.columns))
print(list(ABS_T28_Bedrooms.columns))
print(list(ABS_T29_LFEduMig.columns))
print(list(ABS_T32_FieldofStudy.columns))
print(list(ABS_T33_LabourStatus.columns))
print(list(ABS_T34_Industry.columns))
print(list(ABS_T35_OccupationType.columns))

['SEX_ABS', 'Sex', 'AGE', 'Age', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Year', 'Value', 'Flag Codes', 'Flags']
['MSTP_2016', 'Registered marital status', 'AGE', 'Age', 'SEX_ABS', 'Sex', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Year', 'Value', 'Flag Codes', 'Flags']
['MDCP_2016', 'Social marital status', 'AGE', 'Age', 'SEX_ABS', 'Sex', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Year', 'Value', 'Flag Codes', 'Flags']
['INGP_2016', 'Indigenous status', 'AGE', 'Age', 'SEX_ABS', 'Sex', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Year', 'Value', 'Flag Codes', 'Flags']
['ENGLP_2016', 'Proficiency in Spoken English ', 'AGE', 'Age', 'SEX_ABS', 'Sex', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Year', 'Value', 'Flag Codes', 'Flags']
['HSCP_2016', 'Highest Year of School Completed', 'AGE', 'Age', 'SEX_ABS', 'Sex', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Census year', 'Value', 'Flag Codes', 'Flags']
['VOLWP_2016', 'Voluntary Work for an Organisation or Group', 'AGE', 'Age', 'SEX_ABS', 'Sex', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Census year', 'Value', 'Flag Codes', 'Flags']
['FBLF_2016', 'Family Blending', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Census year', 'Value', 'Flag Codes', 'Flags']
['HHCD_2016', 'Household Composition', 'NPRD_2016', 'Number of Persons Usually Resident', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Census year', 'Value', 'Flag Codes', 'Flags']
['DWTD_2016', 'Dwelling Type', 'STRD_2016', 'Dwelling Structure', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Census year', 'Value', 'Flag Codes', 'Flags']
['Dwelling Structure', 'Mortgage Repayment (monthly)', '2006', '2011', '2016']
['Dwelling Structure', 'Rent (Weekly)', '2006', '2011', '2016']
['STRD_2016', 'Dwelling Structure', 'NEDD_2016', 'Type of Internet Connection', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Census year', 'Value', 'Flag Codes', 'Flags']
['BEDRD_2016', 'Number of Bedrooms', 'STRD_2016', 'Dwelling Structure', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Census year', 'Value', 'Flag Codes', 'Flags']
['LFEM_C16', 'Labour Force, Education and Migration Characteristics', 'SEX_ABS', 'Sex', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Census year', 'Value', 'Flag Codes', 'Flags']
['SEX_ABS', 'Sex', 'QALFP_C16', 'Qualification by field of study', 'AGE', 'Age', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Census year', 'Value', 'Flag Codes', 'Flags']
['SEX_ABS', 'Sex', 'LFSP_C16', 'Labour force status', 'AGE', 'Age', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Census year', 'Value', 'Flag Codes', 'Flags']
['INDP_C16', 'Industry of Employment', 'SEX_ABS', 'Sex', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Census year', 'Value', 'Flag Codes', 'Flags']
['OCCP', 'Occupation', 'SEX_ABS', 'Sex', 'STATE', 'State', 'REGIONTYPE', 'Geography Level', 'LGA_2016', 'Region', 'TIME', 'Census year', 'Value', 'Flag Codes', 'Flags']

Drop everything not related To the Town of Victoria Park

In [4]:
ABS_T01_AgeSex_TVP = ABS_T01_AgeSex[ABS_T01_AgeSex.Region == 'Victoria Park (T)']
ABS_T02_MaritalStatus_TVP = ABS_T02_MaritalStatus[ABS_T02_MaritalStatus.Region == 'Victoria Park (T)']
ABS_T03_SocialMartialStatus_TVP = ABS_T03_SocialMartialStatus[ABS_T03_SocialMartialStatus.Region == 'Victoria Park (T)']
ABS_T04_Indigenous_TVP = ABS_T04_Indigenous[ABS_T04_Indigenous.Region == 'Victoria Park (T)']
ABS_T08_EnglishSpeaking_TVP = ABS_T08_EnglishSpeaking[ABS_T08_EnglishSpeaking.Region == 'Victoria Park (T)']
ABS_T12_SchoolYear_TVP = ABS_T12_SchoolYear[ABS_T12_SchoolYear.Region == 'Victoria Park (T)']
ABS_T15_Volunteer_TVP = ABS_T15_Volunteer[ABS_T15_Volunteer.Region == 'Victoria Park (T)']
ABS_T20_Family_TVP = ABS_T20_Family[ABS_T20_Family.Region == 'Victoria Park (T)']
ABS_T23_HouseholdNumbers_TVP = ABS_T23_HouseholdNumbers[ABS_T23_HouseholdNumbers.Region == 'Victoria Park (T)']
ABS_T24_Dwelling_TVP = ABS_T24_Dwelling[ABS_T24_Dwelling.Region == 'Victoria Park (T)']
#ABS_T25_Mortgage_TVP = ABS_T25_Mortgage[ABS_T25_Mortgage.Region == 'Victoria Park (T)'] Already Filtered
#ABS_T26_Rent_TVP = ABS_T26_Rent[ABS_T26_Rent.Region == 'Victoria Park (T)'] Already Filtered
ABS_T27_Internet_TVP = ABS_T27_Internet[ABS_T27_Internet.Region == 'Victoria Park (T)']
ABS_T28_Bedrooms_TVP = ABS_T28_Bedrooms[ABS_T28_Bedrooms.Region == 'Victoria Park (T)']
ABS_T29_LFEduMig_TVP = ABS_T29_LFEduMig[ABS_T29_LFEduMig.Region == 'Victoria Park (T)']
ABS_T32_FieldofStudy_TVP = ABS_T32_FieldofStudy[ABS_T32_FieldofStudy.Region == 'Victoria Park (T)']
ABS_T33_LabourStatus_TVP = ABS_T33_LabourStatus[ABS_T33_LabourStatus.Region == 'Victoria Park (T)']
ABS_T34_Industry_TVP = ABS_T34_Industry[ABS_T34_Industry.Region == 'Victoria Park (T)']
ABS_T35_OccupationType_TVP = ABS_T35_OccupationType[ABS_T35_OccupationType.Region == 'Victoria Park (T)']

Drop unnecessary columns, re name columns and Re index to conform

In [5]:
ABS_T01_TVP = ABS_T01_AgeSex_TVP.filter(['Sex','Age','Year','Value'], axis=1)
ABS_T01_TVP['Category'] = 'Age & Sex'
ABS_T01_TVP['Variant Code'] = ''
ABS_T01_TVP['Variant'] = ''
ABS_T01_TVP['Code Prefix'] = 'T01'
ABS_T01_TVP = ABS_T01_TVP.reset_index(drop=True)

ABS_T02_TVP = ABS_T02_MaritalStatus_TVP.filter(['MSTP_2016','Registered marital status','Age','Sex','Year','Value'], axis=1)
ABS_T02_TVP['Category'] = 'Marital Status'
ABS_T02_TVP.rename(columns={"MSTP_2016": "Variant Code", 'Registered marital status':"Variant"}, inplace = True)
ABS_T02_TVP['Code Prefix'] = 'T02-'
ABS_T02_TVP = ABS_T02_TVP.reset_index(drop=True)

ABS_T03_TVP = ABS_T03_SocialMartialStatus_TVP.filter(['MDCP_2016','Social marital status','Age','Sex','Year','Value'], axis=1)
ABS_T03_TVP['Category'] = 'Social Marital Status'
ABS_T03_TVP.rename(columns={"MDCP_2016": "Variant Code", 'Social marital status':"Variant"}, inplace = True)
ABS_T03_TVP['Code Prefix'] = 'T03-'
ABS_T03_TVP = ABS_T03_TVP.reset_index(drop=True)

ABS_T04_TVP = ABS_T04_Indigenous_TVP.filter(['INGP_2016','Indigenous status','Age','Sex','Year','Value'], axis=1)
ABS_T04_TVP['Category'] = 'Indigenous Status'
ABS_T04_TVP.rename(columns={"INGP_2016": "Variant Code", 'Indigenous status':"Variant"}, inplace = True)
ABS_T04_TVP['Code Prefix'] = 'T04-'
ABS_T04_TVP = ABS_T04_TVP.reset_index(drop=True)

ABS_T08_EnglishSpeaking_TVP.rename(columns={ABS_T08_EnglishSpeaking_TVP.columns[1]: "English Speaking"}, inplace = True)
ABS_T08_TVP = ABS_T08_EnglishSpeaking_TVP.filter(['ENGLP_2016','English Speaking','Age','Sex','Year','Value'], axis=1)
ABS_T08_TVP['Category'] = 'English Speaking'
ABS_T08_TVP.rename(columns={"ENGLP_2016": "Variant Code", 'English Speaking':"Variant"}, inplace = True)
ABS_T08_TVP['Code Prefix'] = 'T08-'
ABS_T08_TVP = ABS_T08_TVP.reset_index(drop=True)

ABS_T12_TVP = ABS_T12_SchoolYear_TVP.filter(['HSCP_2016','Highest Year of School Completed','Age','Sex','Census year','Value'], axis=1)
ABS_T12_TVP.rename(columns={"Census year": "Year","HSCP_2016": "Variant Code", 'Highest Year of School Completed':"Variant"}, inplace = True)
ABS_T12_TVP['Category'] = 'School Year'
ABS_T12_TVP['Code Prefix'] = 'T12-'
ABS_T12_TVP = ABS_T12_TVP.reset_index(drop=True)

ABS_T15_TVP = ABS_T15_Volunteer_TVP.filter(['VOLWP_2016','Voluntary Work for an Organisation or Group','Age','Sex','Census year','Value'], axis=1)
ABS_T15_TVP.rename(columns={"Census year": "Year",'VOLWP_2016': "Variant Code", 'Voluntary Work for an Organisation or Group':"Variant"}, inplace = True)
ABS_T15_TVP['Category'] = 'Volunteer Status'
ABS_T15_TVP['Code Prefix'] = 'T15-'
ABS_T15_TVP = ABS_T15_TVP.reset_index(drop=True)

ABS_T20_TVP = ABS_T20_Family_TVP.filter(['FBLF_2016','Family Blending','Census year','Value'], axis=1)
ABS_T20_TVP.rename(columns={"Census year": "Year",'FBLF_2016': "Variant Code", 'Family Blending':"Variant"}, inplace = True)
ABS_T20_TVP['Category'] = 'Family Type'
ABS_T20_TVP['Code Prefix'] = 'T20-'
ABS_T20_TVP = ABS_T20_TVP.reset_index(drop=True)

ABS_T23_TVP = ABS_T23_HouseholdNumbers_TVP.filter(['NPRD_2016','Number of Persons Usually Resident','Census year','Value'], axis=1)
ABS_T23_TVP.rename(columns={"Census year": "Year",'NPRD_2016': "Variant Code", 'Number of Persons Usually Resident':"Variant"}, inplace = True)
ABS_T23_TVP['Category'] = 'Size of Household'
ABS_T23_TVP['Code Prefix'] = 'T23-'
ABS_T23_TVP = ABS_T23_TVP.reset_index(drop=True)

ABS_T24_TVP = ABS_T24_Dwelling_TVP.filter(['STRD_2016','Dwelling Structure','Census year','Value'], axis=1)
ABS_T24_TVP.rename(columns={"Census year": "Year",'STRD_2016': "Variant Code", 'Dwelling Structure':"Variant"}, inplace = True)
ABS_T24_TVP['Category'] = 'Dwelling type'
ABS_T24_TVP['Code Prefix'] = 'T24-'
ABS_T24_TVP = ABS_T24_TVP.reset_index(drop=True)

ABS_T27_TVP = ABS_T27_Internet_TVP.filter(['NEDD_2016','Type of Internet Connection','Census year','Value'], axis=1)
ABS_T27_TVP.rename(columns={"Census year": "Year",'NEDD_2016': "Variant Code", 'Type of Internet Connection':"Variant"}, inplace = True)
ABS_T27_TVP['Category'] = 'Internet'
ABS_T27_TVP['Code Prefix'] = 'T27-'
ABS_T27_TVP = ABS_T27_TVP.reset_index(drop=True)

ABS_T28_TVP = ABS_T28_Bedrooms_TVP.filter(['BEDRD_2016','Number of Bedrooms','Census year','Value'], axis=1)
ABS_T28_TVP.rename(columns={"Census year": "Year",'BEDRD_2016': "Variant Code", 'Number of Bedrooms':"Variant"}, inplace = True)
ABS_T28_TVP['Category'] = 'Amount of Bedrooms'
ABS_T28_TVP['Code Prefix'] = 'T28-'
ABS_T28_TVP = ABS_T28_TVP.reset_index(drop=True)

ABS_T29_TVP = ABS_T29_LFEduMig_TVP.filter(['LFEM_C16','Labour Force, Education and Migration Characteristics','Census year','Value'], axis=1)
ABS_T29_TVP.rename(columns={"Census year": "Year",'LFEM_C16': "Variant Code", 'Labour Force, Education and Migration Characteristics':"Variant"}, inplace = True)
ABS_T29_TVP['Category'] = 'Characteristics'
ABS_T29_TVP['Code Prefix'] = 'T29-'
ABS_T29_TVP = ABS_T29_TVP.reset_index(drop=True)

ABS_T32_TVP = ABS_T32_FieldofStudy_TVP.filter(['QALFP_C16','Qualification by field of study','Census year','Value'], axis=1)
ABS_T32_TVP.rename(columns={"Census year": "Year",'QALFP_C16': "Variant Code", 'Qualification by field of study':"Variant"}, inplace = True)
ABS_T32_TVP['Category'] = 'Field of Study'
ABS_T32_TVP['Code Prefix'] = 'T32-'
ABS_T32_TVP = ABS_T32_TVP.reset_index(drop=True)

ABS_T33_TVP = ABS_T33_LabourStatus_TVP.filter(['LFSP_C16','Labour force status','Census year','Value'], axis=1)
ABS_T33_TVP.rename(columns={"Census year": "Year",'LFSP_C16': "Variant Code", 'Labour force status':"Variant"}, inplace = True)
ABS_T33_TVP['Category'] = 'Employment Status'
ABS_T33_TVP['Code Prefix'] = 'T33-'
ABS_T33_TVP = ABS_T33_TVP.reset_index(drop=True)

ABS_T34_TVP = ABS_T34_Industry_TVP.filter(['INDP_C16','Industry of Employment','Census year','Value'], axis=1)
ABS_T34_TVP.rename(columns={"Census year": "Year",'INDP_C16': "Variant Code", 'Industry of Employment':"Variant"}, inplace = True)
ABS_T34_TVP['Category'] = 'Occupational Industry'
ABS_T34_TVP['Code Prefix'] = 'T34-'
ABS_T34_TVP = ABS_T34_TVP.reset_index(drop=True)

ABS_T35_TVP = ABS_T35_OccupationType_TVP.filter(['OCCP','Occupation','Census year','Value'], axis=1)
ABS_T35_TVP.rename(columns={"Census year": "Year",'OCCP': "Variant Code", 'Occupation':"Variant"}, inplace = True)
ABS_T35_TVP['Category'] = 'Occupation'
ABS_T35_TVP['Code Prefix'] = 'T35-'
ABS_T35_TVP = ABS_T35_TVP.reset_index(drop=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Merging Dataframes

In [6]:
merge = pd.merge(ABS_T01_TVP, ABS_T02_TVP, how='outer', on=['Variant Code', 'Variant','Age','Sex',"Year",'Value','Category','Code Prefix'])
merge = pd.merge(merge, ABS_T03_TVP, how='outer', on=['Variant Code', 'Variant','Age','Sex',"Year",'Value','Category','Code Prefix'])
merge = pd.merge(merge, ABS_T04_TVP, how='outer', on=['Variant Code', 'Variant','Age','Sex',"Year",'Value','Category','Code Prefix'])
merge = pd.merge(merge, ABS_T08_TVP, how='outer', on=['Variant Code', 'Variant','Age','Sex',"Year",'Value','Category','Code Prefix'])
merge = pd.merge(merge, ABS_T12_TVP, how='outer', on=['Variant Code', 'Variant','Age','Sex',"Year",'Value','Category','Code Prefix'])
merge = pd.merge(merge, ABS_T15_TVP, how='outer', on=['Variant Code', 'Variant','Age','Sex',"Year",'Value','Category','Code Prefix'])
merge = pd.merge(merge, ABS_T20_TVP, how='outer', on=['Variant Code', 'Variant',"Year",'Value','Category','Code Prefix'])
merge = pd.merge(merge, ABS_T23_TVP, how='outer', on=['Variant Code', 'Variant',"Year",'Value','Category','Code Prefix'])
merge = pd.merge(merge, ABS_T24_TVP, how='outer', on=['Variant Code', 'Variant',"Year",'Value','Category','Code Prefix'])
merge = pd.merge(merge, ABS_T27_TVP, how='outer', on=['Variant Code', 'Variant',"Year",'Value','Category','Code Prefix'])
merge = pd.merge(merge, ABS_T28_TVP, how='outer', on=['Variant Code', 'Variant',"Year",'Value','Category','Code Prefix'])
merge = pd.merge(merge, ABS_T29_TVP, how='outer', on=['Variant Code', 'Variant',"Year",'Value','Category','Code Prefix'])
merge = pd.merge(merge, ABS_T32_TVP, how='outer', on=['Variant Code', 'Variant',"Year",'Value','Category','Code Prefix'])
merge = pd.merge(merge, ABS_T33_TVP, how='outer', on=['Variant Code', 'Variant',"Year",'Value','Category','Code Prefix'])
merge = pd.merge(merge, ABS_T34_TVP, how='outer', on=['Variant Code', 'Variant',"Year",'Value','Category','Code Prefix'])
ABS_TVP_A = pd.merge(merge, ABS_T35_TVP, how='outer', on=['Variant Code', 'Variant',"Year",'Value','Category','Code Prefix'])

/usr/local/lib/python3.6/dist-packages/pandas/core/reshape/merge.py:1117: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  UserWarning,

Cleaning Data and Adding in Code

In [7]:
ABS_TVP_A['Year'] = ABS_TVP_A['Year'].astype(int)
ABS_TVP_A['Value'] = ABS_TVP_A['Value'].astype(int)
ABS_TVP_A['Code'] = ABS_TVP_A['Code Prefix'] + ABS_TVP_A['Variant Code']
ABS_TVP_A = ABS_TVP_A.reset_index(drop=True)

Splitting Years into different Columns

In [8]:
ABS_TVP_A_2006 = ABS_TVP_A[ABS_TVP_A.Year.eq(2006)]
ABS_TVP_A_2011 = ABS_TVP_A[ABS_TVP_A.Year.eq(2011)]
ABS_TVP_A_2016 = ABS_TVP_A[ABS_TVP_A.Year.eq(2016)]

In [9]:
merge_year = pd.merge(ABS_TVP_A_2006, ABS_TVP_A_2011, how='outer', on=['Variant Code', 'Variant','Age','Sex','Category','Code Prefix','Code'])
ABS_TVP_A_Merged = pd.merge(merge_year, ABS_TVP_A_2016, how='outer', on=['Variant Code', 'Variant','Age','Sex','Category','Code Prefix','Code'])
ABS_TVP_A_Merged.rename(columns={"Value_x": "2006",'Value_y': "2011", 'Value':"2016"}, inplace = True)
ABS_TVP_A_Merged = ABS_TVP_A_Merged.filter(['Sex','Age','2006','Category','Variant','Code Prefix','Code','2011','2016'], axis=1)

In [10]:
print(ABS_TVP_A_Merged)

           Sex       Age   2006    Category  ... Code Prefix   Code   2011   2016
0        Males  All ages  13725   Age & Sex  ...         T01    T01  16307  17429
1      Females  All ages  14229   Age & Sex  ...         T01    T01  16127  17562
2      Persons  All ages  27959   Age & Sex  ...         T01    T01  32433  34990
3        Males         0    165   Age & Sex  ...         T01    T01    192    226
4      Females         0    173   Age & Sex  ...         T01    T01    221    234
...        ...       ...    ...         ...  ...         ...    ...    ...    ...
43473      NaN       NaN    193  Occupation  ...        T35-  T35-Z     90    105
43474      NaN       NaN    193  Occupation  ...        T35-  T35-Z     90    255
43475      NaN       NaN    193  Occupation  ...        T35-  T35-Z    227    154
43476      NaN       NaN    193  Occupation  ...        T35-  T35-Z    227    105
43477      NaN       NaN    193  Occupation  ...        T35-  T35-Z    227    255

[43478 rows x 9 columns]

In [11]:
ABS_T25_TVP = ABS_T25_Mortgage
ABS_T25_TVP.rename(columns={"Dwelling Structure": "Variant Code",'Mortgage Repayment (monthly)': "Variant"}, inplace = True)
ABS_T25_TVP['Category'] = 'Monthly Mortgage Repayment'
ABS_T25_TVP['Code Prefix'] = 'T25-'
ABS_T25_TVP['Code'] = ABS_T25_TVP['Code Prefix'] + ABS_T25_TVP['Variant Code']
ABS_T25_TVP['2006'] = ABS_T25_TVP['2006'].str.replace(' ', '')
ABS_T25_TVP['2006'] = ABS_T25_TVP['2006'].astype(int)
ABS_T25_TVP['2011'] = ABS_T25_TVP['2011'].str.replace(' ', '')
ABS_T25_TVP['2011'] = ABS_T25_TVP['2011'].astype(int)
ABS_T25_TVP['2016'] = ABS_T25_TVP['2016'].str.replace(' ', '')
ABS_T25_TVP['2016'] = ABS_T25_TVP['2016'].astype(int)
ABS_T25_TVP = ABS_T25_TVP.filter(['2006','Category','Variant','Code Prefix','Code','2011','2016'], axis=1)

In [12]:
ABS_T25_TVP = ABS_T25_TVP.filter(['2006','Category','Variant','Code Prefix','Code','2011','2016'], axis=1)

In [13]:
ABS_T26_TVP = ABS_T26_Rent
ABS_T26_TVP.rename(columns={"Dwelling Structure": "Variant Code",'Rent (Weekly)': "Variant"}, inplace = True)
ABS_T26_TVP['Category'] = 'Weekly Rent'
ABS_T26_TVP['Code Prefix'] = 'T26-'
ABS_T26_TVP['Variant Code'] = 'Total'
ABS_T26_TVP['Code'] = ABS_T26_TVP['Code Prefix'] + ABS_T26_TVP['Variant Code']
ABS_T26_TVP['2006'] = ABS_T26_TVP['2006'].str.replace(' ', '')
ABS_T26_TVP['2006'] = ABS_T26_TVP['2006'].astype(int)
ABS_T26_TVP['2011'] = ABS_T26_TVP['2011'].str.replace(' ', '')
ABS_T26_TVP['2011'] = ABS_T26_TVP['2011'].astype(int)
ABS_T26_TVP['2016'] = ABS_T26_TVP['2016'].str.replace(' ', '')
ABS_T26_TVP['2016'] = ABS_T26_TVP['2016'].astype(int)
ABS_T26_TVP = ABS_T26_TVP.filter(['2006','Category','Variant','Code Prefix','Code','2011','2016'], axis=1)

In [14]:
print(list(ABS_TVP_A_Merged.columns))

['Sex', 'Age', '2006', 'Category', 'Variant', 'Code Prefix', 'Code', '2011', '2016']

In [15]:
ABS_T26_TVP

    2006     Category        Variant Code Prefix       Code  2011  2016
0   5385  Weekly Rent          Total        T26-  T26-Total  6022  6132
1    123  Weekly Rent   Nil payments        T26-  T26-Total   128   128
2    515  Weekly Rent         $1-$74        T26-  T26-Total   166    65
3    289  Weekly Rent        $75-$99        T26-  T26-Total   321    75
4    469  Weekly Rent      $100-$124        T26-  T26-Total   183   271
5    464  Weekly Rent      $125-$149        T26-  T26-Total   201   171
6    833  Weekly Rent      $150-$174        T26-  T26-Total   155   186
7    709  Weekly Rent      $175-$199        T26-  T26-Total   122   100
8    648  Weekly Rent      $200-$224        T26-  T26-Total   274   205
9    341  Weekly Rent      $225-$249        T26-  T26-Total   222   195
10   370  Weekly Rent      $250-$274        T26-  T26-Total   356   324
11   154  Weekly Rent      $275-$299        T26-  T26-Total   293   224
12   135  Weekly Rent      $300-$324        T26-  T26-Total   699   509
13    29  Weekly Rent      $325-$349        T26-  T26-Total   367   245
14    40  Weekly Rent      $350-$374        T26-  T26-Total   583   522
15     9  Weekly Rent      $375-$399        T26-  T26-Total   363   393
16    13  Weekly Rent      $400-$424        T26-  T26-Total   435   619
17     0  Weekly Rent      $425-$449        T26-  T26-Total   145   243
18    20  Weekly Rent      $450-$549        T26-  T26-Total   448   923
19    13  Weekly Rent      $550-$649        T26-  T26-Total   174   319
20     8  Weekly Rent      $650-$749        T26-  T26-Total    73   123
21     0  Weekly Rent      $750-$849        T26-  T26-Total    41    49
22     0  Weekly Rent      $850-$949        T26-  T26-Total    23    19
23    42  Weekly Rent  $950 and over        T26-  T26-Total    48    34
24   165  Weekly Rent     Not stated        T26-  T26-Total   199   198

In [16]:
ABS_TVP_B = pd.merge(ABS_T26_TVP, ABS_T25_TVP, how='outer', on=['2006', '2011','2016','Variant','Category','Code Prefix','Code'])

In [17]:
ABS_TVP_B

    2006                    Category          Variant  ...       Code  2011  2016
0   5385                 Weekly Rent            Total  ...  T26-Total  6022  6132
1    123                 Weekly Rent     Nil payments  ...  T26-Total   128   128
2    515                 Weekly Rent           $1-$74  ...  T26-Total   166    65
3    289                 Weekly Rent          $75-$99  ...  T26-Total   321    75
4    469                 Weekly Rent        $100-$124  ...  T26-Total   183   271
5    464                 Weekly Rent        $125-$149  ...  T26-Total   201   171
6    833                 Weekly Rent        $150-$174  ...  T26-Total   155   186
7    709                 Weekly Rent        $175-$199  ...  T26-Total   122   100
8    648                 Weekly Rent        $200-$224  ...  T26-Total   274   205
9    341                 Weekly Rent        $225-$249  ...  T26-Total   222   195
10   370                 Weekly Rent        $250-$274  ...  T26-Total   356   324
11   154                 Weekly Rent        $275-$299  ...  T26-Total   293   224
12   135                 Weekly Rent        $300-$324  ...  T26-Total   699   509
13    29                 Weekly Rent        $325-$349  ...  T26-Total   367   245
14    40                 Weekly Rent        $350-$374  ...  T26-Total   583   522
15     9                 Weekly Rent        $375-$399  ...  T26-Total   363   393
16    13                 Weekly Rent        $400-$424  ...  T26-Total   435   619
17     0                 Weekly Rent        $425-$449  ...  T26-Total   145   243
18    20                 Weekly Rent        $450-$549  ...  T26-Total   448   923
19    13                 Weekly Rent        $550-$649  ...  T26-Total   174   319
20     8                 Weekly Rent        $650-$749  ...  T26-Total    73   123
21     0                 Weekly Rent        $750-$849  ...  T26-Total    41    49
22     0                 Weekly Rent        $850-$949  ...  T26-Total    23    19
23    42                 Weekly Rent    $950 and over  ...  T26-Total    48    34
24   165                 Weekly Rent       Not stated  ...  T26-Total   199   198
25  3332  Monthly Mortgage Repayment            Total  ...  T25-Total  3800  4035
26     0  Monthly Mortgage Repayment   Nil repayments  ...  T25-Total    96   130
27    34  Monthly Mortgage Repayment          $1-$149  ...  T25-Total    28    26
28    36  Monthly Mortgage Repayment        $150-$299  ...  T25-Total    21    41
29    96  Monthly Mortgage Repayment        $300-$449  ...  T25-Total    64    79
30   104  Monthly Mortgage Repayment        $450-$599  ...  T25-Total    54    58
31   249  Monthly Mortgage Repayment        $600-$799  ...  T25-Total   105   113
32   331  Monthly Mortgage Repayment        $800-$999  ...  T25-Total   128   148
33   381  Monthly Mortgage Repayment    $1,000-$1,199  ...  T25-Total   215   187
34   362  Monthly Mortgage Repayment    $1,200-$1,399  ...  T25-Total   242   222
35   358  Monthly Mortgage Repayment    $1,400-$1,599  ...  T25-Total   215   252
36   320  Monthly Mortgage Repayment    $1,600-$1,799  ...  T25-Total   255   270
37   167  Monthly Mortgage Repayment    $1,800-$1,999  ...  T25-Total   163   222
38   252  Monthly Mortgage Repayment    $2,000-$2,199  ...  T25-Total   347   519
39   102  Monthly Mortgage Repayment    $2,200-$2,399  ...  T25-Total   202   195
40    65  Monthly Mortgage Repayment    $2,400-$2,599  ...  T25-Total   188   194
41   101  Monthly Mortgage Repayment    $2,600-$2,999  ...  T25-Total   389   393
42   102  Monthly Mortgage Repayment    $3,000-$3,999  ...  T25-Total   616   567
43    28  Monthly Mortgage Repayment    $4,000-$4,999  ...  T25-Total   206   203
44    23  Monthly Mortgage Repayment  $5,000 and over  ...  T25-Total   134   114
45   212  Monthly Mortgage Repayment       Not stated  ...  T25-Total   136   118

[46 rows x 7 columns]

In [18]:
ABS_TVP_FinalData = pd.merge(ABS_TVP_A_Merged, ABS_TVP_B, how='outer', on=['2006', '2011','2016','Variant','Category','Code Prefix','Code'])

Remove Nan  and Clean up Data

In [19]:
ABS_TVP_FinalData = ABS_TVP_FinalData.replace(np.nan, '', regex=True)

In [20]:
ABS_TVP_FinalData['Code Prefix'] = ABS_TVP_FinalData['Code Prefix'].replace('-', '', regex=True)

In [21]:
ABS_TVP_FinalData = ABS_TVP_FinalData .reset_index(drop=True)

In [25]:
ABS_TVP_FinalData = ABS_TVP_FinalData[['Code Prefix','Code','Category','Sex','Age','2006','2011','2016']]

In [26]:
ABS_TVP_FinalData

      Code Prefix       Code                    Category  ...   2006   2011   2016
0             T01        T01                   Age & Sex  ...  13725  16307  17429
1             T01        T01                   Age & Sex  ...  14229  16127  17562
2             T01        T01                   Age & Sex  ...  27959  32433  34990
3             T01        T01                   Age & Sex  ...    165    192    226
4             T01        T01                   Age & Sex  ...    173    221    234
...           ...        ...                         ...  ...    ...    ...    ...
43519         T25  T25-Total  Monthly Mortgage Repayment  ...    101    389    393
43520         T25  T25-Total  Monthly Mortgage Repayment  ...    102    616    567
43521         T25  T25-Total  Monthly Mortgage Repayment  ...     28    206    203
43522         T25  T25-Total  Monthly Mortgage Repayment  ...     23    134    114
43523         T25  T25-Total  Monthly Mortgage Repayment  ...    212    136    118

[43524 rows x 8 columns]

In [27]:
ABS_TVP_FinalData.to_csv(r'..\Data\Cleaned_Data\ABS_TVP_Cleaned.csv')