### Import Dependencies

In [1]:
 from sklearn import tree
import pandas as pd
import os

### Read in Data
### Happiness 
- 0 = Happy 
- 1 = Unhappy

In [2]:
df = pd.read_csv(os.path.join("..", "Data","Cleaned_Data","TVP_Happiness_Survey2.csv"))
df.head()

,Sample,Access to Employment,Access to Public Transport,Culture,Road Congestion,Schools,Shopping,Open Space,Tree Cover,Topographic Variation,Cafes and Restaurants,Crime,Telecommunications,Views,Beach Access,Happiness
0,1,53,78,83,81,63,81,83,58,78,88,60,78,88,67,Happy
1,2,52,48,47,55,53,34,40,37,59,59,59,30,31,58,Not Happy
2,3,84,72,74,93,84,76,86,79,92,81,98,54,67,100,Happy
3,4,36,40,35,47,56,39,54,37,38,46,55,54,57,42,Not Happy
4,5,61,83,89,90,67,70,60,65,52,81,58,50,94,76,Happy

In [3]:
target = df["Happiness"]
target_names = ["Happy", "Not Happy"]

In [4]:
data = df.drop("Happiness", axis=1)
data = data.drop("Sample", axis=1)
feature_names = data.columns
data.head()

,Access to Employment,Access to Public Transport,Culture,Road Congestion,Schools,Shopping,Open Space,Tree Cover,Topographic Variation,Cafes and Restaurants,Crime,Telecommunications,Views,Beach Access
0,53,78,83,81,63,81,83,58,78,88,60,78,88,67
1,52,48,47,55,53,34,40,37,59,59,59,30,31,58
2,84,72,74,93,84,76,86,79,92,81,98,54,67,100
3,36,40,35,47,56,39,54,37,38,46,55,54,57,42
4,61,83,89,90,67,70,60,65,52,81,58,50,94,76

In [5]:
 from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [6]:
 clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

1.0

In [7]:
 from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=50)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

1.0

In [8]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.23843312373907677, 'Shopping'),
 (0.18491500549505688, 'Culture'),
 (0.16049059873910462, 'Cafes and Restaurants'),
 (0.08687349177189081, 'Open Space'),
 (0.08529201945557051, 'Access to Public Transport'),
 (0.04823605955879512, 'Road Congestion'),
 (0.04709646343522405, 'Telecommunications'),
 (0.04504043866973107, 'Tree Cover'),
 (0.03183085985784812, 'Views'),
 (0.026063193072151773, 'Crime'),
 (0.024113208601100035, 'Beach Access'),
 (0.02055005803139648, 'Topographic Variation'),
 (0.001065479573053575, 'Schools'),
 (0.0, 'Access to Employment')]

In [94]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [95]:
Data_Happy = pd.read_csv(os.path.join("..", "Data","Cleaned_Data","TVP_Happiness_Survey.csv"))
Data_Happy.head()

,Sample,Access to Employment,Access to Public Transport,Culture,Road Congestion,Schools,Shopping,Open Space,Tree Cover,Topographic Variation,Cafes and Restaurants,Crime,Telecommunications,Views,Beach Access,Happiness
0,1,8,7,6,10,8,8,7,6,7,9,8,8,8,10,Happy
1,2,1,1,5,2,3,4,1,3,4,4,4,1,4,2,Not Happy
2,3,9,6,6,8,7,6,9,6,9,8,7,10,9,10,Happy
3,4,4,1,4,1,1,3,1,1,3,2,1,5,3,2,Not Happy
4,5,9,10,8,10,10,8,7,6,8,6,6,8,8,6,Happy

In [96]:
# Assign X (data) and y (target)
X = Data_Happy.drop("Happiness", axis=1)
X = X.drop("Sample", axis=1)
y = Data_Happy["Happiness"]
print(X.shape, y.shape)

(3344, 14) (3344,)

In [97]:
 from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=23)

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

In [98]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

LogisticRegression(multi_class='ovr', n_jobs=1, solver='liblinear')

In [99]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [100]:
 LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

LogisticRegression(multi_class='ovr', n_jobs=1, solver='liblinear')

In [101]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 1.0
Testing Data Score: 1.0

In [86]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['Happy' 'Not Happy' 'Happy' 'Not Happy' 'Not Happy' 'Not Happy' 'Happy'
 'Happy' 'Happy' 'Happy']
First 10 Actual labels: ['Not Happy', 'Not Happy', 'Not Happy', 'Not Happy', 'Happy', 'Not Happy', 'Not Happy', 'Not Happy', 'Not Happy', 'Not Happy']

In [102]:
 pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

    Prediction     Actual
0        Happy  Not Happy
1    Not Happy  Not Happy
2        Happy  Not Happy
3    Not Happy  Not Happy
4    Not Happy      Happy
..         ...        ...
831  Not Happy  Not Happy
832      Happy  Not Happy
833  Not Happy  Not Happy
834      Happy  Not Happy
835  Not Happy  Not Happy

[836 rows x 2 columns]